<!--include header templete-->

<% include partials/header %>

<h1>holla holla</h1>
<img src="http://www.passenger6a.com/wp-content/uploads/2016/03/Foto-Destacada-Bournemouth.jpg">
<!--include footer templete-->
<% include partials/footer %>
